@model CoMute.Web.Models.Users

@{
    ViewBag.Title = "My Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="profile" method="post">
    <h2>My Profile</h2>

    <div class="form-group">
        <label for="name">Name</label>
        @*<input type="text" id="name" class="form-control" placeholder="First name" required autofocus />*@
        @Html.TextBoxFor(model => model.Name, new { @Class = "form-control", id = "name", placeholder = "Surname" })
    </div>

    <div class="form-group">
        <label for="surname">Surname</label>
        @*<input type="text" id="surname" class="form-control" placeholder="Surname" required>*@
        @Html.TextBoxFor(model => model.Surname, new { @Class = "form-control", id = "surname", placeholder = "Surname" })
    </div>

    <div class="form-group">
        <label for="phone">Phone</label>
        @*<input type="text" id="phone" class="form-control" placeholder="Phone number">*@
        @Html.TextBoxFor(model => model.Phone, new { @Class = "form-control", id = "phone", placeholder = "Phone number" })
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        @*<input type="email" id="email" class="form-control" placeholder="Email address" required>*@
        @Html.TextBoxFor(model => model.Email, new { @Class = "form-control", id = "email", placeholder = "Email address" })
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        @*<input type="password" id="password" class="form-control" placeholder="Password" required>*@
        @Html.PasswordFor(model => model.Password, new { @Class = "form-control", id = "password", placeholder = "Password" })
    </div>

    <div class="form-group">
        <label for="confirm-password">Confirm Password</label>
        @*<input type="password" id="confirm-password" class="form-control" placeholder="Confirm password">*@
        @Html.PasswordFor(model => model.ConfirmPassword, new { @Class = "form-control", id = "confirm-password", placeholder = "Confirm password" })
        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @Class = "error" })
    </div>

    <div class="form-group">
        <button class="btn btn-primary" type="submit" id="update">Update</button>
    </div>
    <div id="error" class="row row-margin hidden">
        <div class="col-md-4 col-md-offset-4 alert alert-danger">
            <p></p>
        </div>
    </div>
    <div>
            <div style="color:red;">
                @ViewBag.Message
            </div>
    </div>
</form>
