@model  IEnumerable<CoMute.Web.Models.Dto.CarPool>

@{
    ViewBag.Title = "Search";
    var message = TempData["MsgChangeStatus"] ?? string.Empty;
}


<head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

    <style>
        table.dataTable thead .sorting:after,
        table.dataTable thead .sorting:before,
        table.dataTable thead .sorting_asc:after,
        table.dataTable thead .sorting_asc:before,
        table.dataTable thead .sorting_asc_disabled:after,
        table.dataTable thead .sorting_asc_disabled:before,
        table.dataTable thead .sorting_desc:after,
        table.dataTable thead .sorting_desc:before,
        table.dataTable thead .sorting_desc_disabled:after,
        table.dataTable thead .sorting_desc_disabled:before {
            bottom: .5em;
        }


        #myInput {
            background-image: url('/css/searchicon.png');
            background-position: 10px 10px;
            background-repeat: no-repeat;
            width: 100%;
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
        }
    </style>
    <h2 style="text-align:center">Car-pool Oppurtunities</h2>
    <br />
    <p>
        <button class="btn btn-default">
            @Html.ActionLink("Create New", "AddPool")
        </button>

    </p>

    <br />


    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for car pool opportunity.." title="Type in a name">


    <table id="myTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date_Created)
            </th>
            <th>
               Created By
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Origin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expected_Arrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Days)
            </th>
            <th>
                Maximum Passengers
            </th>
            <th>
                Seats Available
            </th>
            <th>
                <label>Action</label>
            </th>
        </tr>



        @foreach (var item in Model)
        {
    <tr>
        <td>
            @*  @Html.DisplayFor(modelItem => item.Date_Created)*@
            @Convert.ToDateTime(item.Date_Created).ToShortDateString()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name) ,  @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Origin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destination)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Departure)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Expected_Arrival)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Days)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Available_Seats)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Available_Spots)
        </td>
        <td>


            @using (Html.BeginForm("Join", "Home", new { id = item.User_Car_Pool_ID }, FormMethod.Post))
            {
                <button class="btn btn-success">Join</button>
            }
            @*  @Html.ActionLink("Join", "Join", new { id = item.User_Car_Pool_ID })*@
            @*    @Html.ActionLink("Details", "Details", new { id = item.User_Car_Pool_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.User_Car_Pool_ID })*@
        </td>
    </tr>
        }

    </table>


    <script type="text/javascript">
var message = '@message';
if(message)
    alert(message);
    </script>

    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

    @*<script>
            $(document).ready(function () {
                $('#dtBasicExample').DataTable({
                    "searching": true // false to disable search (or any other option)
                });
                $('.dataTables_length').addClass('bs-select');
            });
        </script>*@
