<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml">
@{
    Layout = null;
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Techla Technologies (Pty) Ltd">
    <!-- Favicon icon -->
   @* <link rel="icon" type="image/png" sizes="16x16" href="@((await ApplicationSettings.CompanyEmblemAsync()!="")? $"{Url.Action("Emblem","Logos")}?emblemFileName={await ApplicationSettings.CompanyEmblemAsync()}"  :"/Assets/Techla/128TechlaCircle.png")">
    <title>@ApplicationSettings.ApplicationTitle()</title>*@
</head>

<body style="margin:0px; background: #f8f8f8; ">
    <div width="100%" style="background: #f8f8f8; padding: 0px 0px; font-family:arial; line-height:28px; height:100%;  width: 100%; color: #514d6a;">
        <div style="max-width: 700px; padding:50px 0;  margin: 0px auto; font-size: 14px">

            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                <tbody>
                    <tr>
                        <td style="background:#535353; padding:20px; color:#fff; text-align:center;"><h2>EMAIL CONFIRMED</h2> </td>
                    </tr>
                </tbody>
            </table>
            <div style="padding: 40px; background: #fff;">
                <table  cellpadding="0" cellspacing="0" style="width: 100%; border: 0;">
                    <tbody>
                    <tr>
                        <td style="vertical-align: top; padding-bottom:30px;" align="center">
                            <a href="@Url.Action("Index","Home")" target="_blank">
                               @* <img src="@((await ApplicationSettings.CompanyLogoAsync()!="")? $"{Url.Action("Logo","Logos")}?logoFileName={await ApplicationSettings.CompanyLogoAsync()}" :"/Assets/Techla/Techla-horizontal.svg")" style="border: none; max-height: 120px;">
                           *@ </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Your email is <b>Confirmed</b></p>


                            <b>- Thanks</b>

                            <div style="text-align: center;" >
                                <a href="@Url.Action("Index", "Home")" style="display: inline-block; padding: 11px 30px; margin: 20px 0px 30px; font-size: 15px; color: #fff; background: #4fc3f7; border-radius: 60px; text-decoration: none;">HOME</a>
                            </div>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>
