@model IEnumerable<CoMute.Web.Models.Dto.CarPoolsOpportunityRequest>

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

@using (Html.BeginForm("Index", "Search", FormMethod.Post))
{
    <span>Search Term (origin or Destination):</span> @Html.TextBox("searchTerm")
    <input type="submit" value="Search" />
    <br />
    <br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartureTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpectedArrivalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Origin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaysAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerOrLeader)
            </th>
            <th>
                Action
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartureTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpectedArrivalTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Origin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DaysAvailable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Destination)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvailableSeats)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerOrLeader)
                </td>
                <td>
                    @Html.ActionLink("Join", "Join", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

    </table>
}
