@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Identity
@{
    ViewBag.Title = "My Marks for my Assignments";
    Layout = "_Layout";
}
@inject UserManager<ApplicationUser> _userManager

@inject IViewLocalizer _localizer

<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    @inject UserManager<ApplicationUser> UserManager

    <link href="~/assets/libs/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
    <link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="~/assets/libs/footable/css/footable.core.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/assets/libs/select2/dist/css/select2.min.css">
    <link href="~/assets/libs/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/libs/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css">
</head>

<body class="font">
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div class="page-breadcrumb">
        <div class="row">

            <div class="col-5 align-self-left">
                <b class="logo-icon">
                    <img style="width:50%" src="/images/smart-e_Logo.jpg" />
                </b>
                <!--Print Button-->

            </div>
            <div class="col-7 align-self-right">
                <a class="btn btn-primary" href="javascript:window.print()" href="javascript:window.print()" style="font-size: 16px; padding:15px 25px; text-align:center;">
                    <span class="tf-icons bx bx-printer me-2"></span>Print
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-5 align-self-left">


                <ul style="list-style:none; color:#008080; font-size: 17px;">
                    <li>Name: @_userManager.GetUserAsync(User).Result.FirstName</li>
                    <li>Surname: @_userManager.GetUserAsync(User).Result.LastName </li>
                    <li>Email Address: @_userManager.GetUserAsync(User).Result.Email</li>
                    <li>Contact Number: @_userManager.GetUserAsync(User).Result.PhoneNumber</li>
                </ul>

            </div>
            <div class="col-7 align-self-right">
                <div id="para1" class="col-6 align-self-right" style=" font-size: 17px; font: bold;"></div>
            </div>

        </div>
    </div>
    <hr style="border: 1px solid grey" />
    <div class="row">

        <div class="col-5 align-self-center">


            <h3 class="page-title">@_localizer["My Assignments"]</h3>
            <div class="d-flex align-items-center">
            </div>
        </div>
    </div>
    </div>


    <div class="container-fluid">
        <div class="row">
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="tblAssessments" class="table v-middle">
                            <thead>
                                <tr>
                                    <th style="width: 160px;">@_localizer["Name"]</th>
                                    <th>@_localizer["Course Name"]</th>
                                    <th>@_localizer["Mark"]</th>
                                    <th>@_localizer["New Mark"]</th>
                                </tr>
                            </thead>
                            <tbody>

                            <tfoot>
                                <tr>
                                    <th>@_localizer["Name"]</th>
                                    <th>@_localizer["Course Name"]</th>
                                    <th>@_localizer["Mark"]</th>
                                    <th>@_localizer["New Mark"]</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>

            </div>
        </div>
    </div>



</body>
<div>
    <script src="~/assets/libs/moment/moment.js"></script>
    <script src="~/assets/libs/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker-custom.js"></script>
    <script src="~/assets/extra-libs/DataTables/datatables.min.js"></script>
    <script src="~/dist/js/pages/datatable/datatable-basic.init.js"></script>
    <script src="~/assets/libs/select2/dist/js/select2.full.min.js"></script>
    <script src="~/assets/libs/select2/dist/js/select2.min.js"></script>
    <script src="~/dist/js/pages/forms/select2/select2.init.js"></script>
    <script src="~/assets/libs/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <script src="~/assets/libs/sweetalert2/sweet-alert.init.js"></script>
    <script src="~/assets/libs/moment/moment.js"></script>
    <script src="~/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
</div>

<script>
    var tblAssessments = $('#tblAssessments').DataTable({
        createdRow: function (row, data, dataIndex) {
            $(row).attr('id', data.id);
        },
        "columns": [
            { "data": "name" },
            { "data": "courseName" },
            { "data": "mark" },
            { "data": "newMark" },
        ]
    });

    $(document).ready(function () {
        loadMyAssignments();
    });

    function loadMyAssignments() {
        $.ajax({
            url: '@Url.Action("GetMyPersonalAssignmentMarks", "Assignments")',
            type: 'GET',
            success: function (result) {

                var rows = [];

                for (var i = 0; i < result.length; i++) {

                    rows.push({
                        id: result[i].id,
                        name: result[i].name,
                        courseName: result[i].courseName,
                        mark: result[i].mark,
                        newMark: result[i].newMark,

                    });

                }

                tblAssessments.rows.add(rows).draw();

            },
            error: function (jqXHR, exception) {
                swal({
                    title: "ERROR STATUS " + jqXHR.status,
                    text: "Error Message: " + jqXHR.responseText,
                    type: "error",
                    showCancelButton: false,
                    confirmButtonText: "OK"
                });
            }
        });

    }

    document.getElementById("para1").innerHTML = formatAMPM();

    function formatAMPM() {
        var d = new Date(),
            minutes = d.getMinutes().toString().length == 1 ? '0' + d.getMinutes() : d.getMinutes(),
            hours = d.getHours().toString().length == 1 ? '0' + d.getHours() : d.getHours(),
            ampm = d.getHours() >= 12 ? 'pm' : 'am',
            months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            days = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
        return days[d.getDay()] + ' ' + months[d.getMonth()] + ' ' + d.getDate() + ' ' + d.getFullYear() + ' ' + hours + ':' + minutes + ampm;
    }


</script>
