@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Localization

@model Co_Mute.Models.CurrentOppertunityPostModal
@{
    ViewBag.Title = "Current opportunity";
    Layout = "_Layout";

}

@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();

    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}

@inject IViewLocalizer _localizer

<!DOCTYPE html>
<html>
<head>
    <link href="~/assets/libs/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
    <link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="~/assets/libs/footable/css/footable.core.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/assets/libs/select2/dist/css/select2.min.css">
    <link href="~/assets/libs/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/libs/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css">


    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>

    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-5 align-self-center">
                <h4 class="page-title">@_localizer["Current opportunity"]</h4>
                <div class="d-flex align-items-center">
                </div>
            </div>
           
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-6 col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row p-t-10 p-b-10">
                            <div class="col p-r-0">
                                <h3 id="" class="font-light">
                                    <a id="childNameId">@Model.Origin</a>
                                </h3>
                                <h6 class="text-muted">Origin's Name</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row p-t-5 p-b-5">
                            <div class="col p-r-0">
                                <h3 id="" class="font-light">
                                    <a id="childEmail">@Model.NumberOfSeats</a>
                                </h3>
                                <h6 class="text-muted">Number Of Seats</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row p-t-5 p-b-5">
                            <div class="col p-r-0">
                                <h3 id="" class="font-light">
                                    <a id="childEmail">@Model.Owner</a>
                                </h3>
                                <h6 class="text-muted">Owner</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-12">
                <button type="button" onclick="javascript:addUser();" style="margin-left: 5px;" class="btn btn-sm btn-success float-lg-right"><i class="fas fa-plus"><span> Join Carpool</span></i></button>
            </div>
        </div>
        <div class="table-responsive">
            <table id="tblListings" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>@_localizer["Name"]</th>
                        <th>@_localizer["Date Joined"]</th>
                        <th style="width: 50px"></th>
                    </tr>
                </thead>
                <tbody>


                <tfoot>
                    <tr>
                        <th>@_localizer["Name"]</th>
                        <th>@_localizer["Date Joined"]</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>





</body>
<div>
    <script src="~/assets/libs/moment/moment.js"></script>
    <script src="~/assets/libs/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker-custom.js"></script>
    <script src="~/assets/extra-libs/DataTables/datatables.min.js"></script>
    <script src="~/dist/js/pages/datatable/datatable-basic.init.js"></script>
    <script src="~/assets/libs/select2/dist/js/select2.full.min.js"></script>
    <script src="~/assets/libs/select2/dist/js/select2.min.js"></script>
    <script src="~/dist/js/pages/forms/select2/select2.init.js"></script>
    <script src="~/assets/libs/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <script src="~/assets/libs/sweetalert2/sweet-alert.init.js"></script>
    <script src="~/assets/libs/moment/moment.js"></script>
    <script src="~/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
</div>

<script>
      $(document).ready(function () {
        loadListings();
    });
    var tblListings = $('#tblListings').DataTable({
        createdRow: function (row, data, dataIndex) {
            $(row).attr('id', data.id);
        },
        "columns": [
            { "data": "name" },
            { "data": "dateJoined" },
            { "data": "buttons" }
        ]
    });
    
    function unlinkUser(id) {
        swal({
            title: "CONFIRM",
            text: "Are you sure that you want to remove this user from the carpool?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, remove user!"
        }).then((ok) => {

            if (JSON.stringify(ok) === '{"value":true}') {
                $.ajax({
                    url: `@Url.Action("DeleteCarpoolOppertunityUser", "Home")?id=${id}`,
                    type: 'DELETE',
                    success: function (result) {

                        toastr.success('Success', 'User is removed');

                        location.reload();


                    },
                    error: function (jqXHR, exception) {
                        swal({
                            type: "error",
                            title: "ERROR STATUS " + jqXHR.status,
                            text: "Error Message: " + jqXHR.responseText,
                            showCancelButton: false,
                            confirmButtonText: "OK"
                        });
                    }
                });
            }

        });

    }

    function addUser(){
        $.ajax({
            url: '@Url.Action("AddUserToCurrentOppertunity", "Home")?id=@Model.Id',
            type: 'POST',
            dataType: 'json',
            success: function (result) {
                location.reload();
                toastr.success(`Success`, 'User Addeds!');

            },
            error: function (jqXHR, exception) {
                swal({
                    title: "ERROR STATUS " + jqXHR.status,
                    text: "Error Message: " + jqXHR.responseText,
                    type: "error",
                    showCancelButton: false,
                    confirmButtonText: "OK"
                });
            }
        });
    
    }
    function loadListings() {
        $.ajax({
            url: `@Url.Action("GetCurrentOppertunitiesListing", "Home")?id=@Model.Id`,
            type: 'GET',
            success: function (result) {

                var rows = [];

                for (var i = 0; i < result.length; i++) {

                    rows.push({
                        id: result[i].id,
                        name: result[i].name,
                        dateJoined: result[i].dateJoined,
                        buttons: `<div>
                                <button type="button" class="btn btn-sm btn-outline-warning waves-effect waves-light align-content-end float-lg-right"
                                onclick="unlinkUser('${result[i].id}')" style="margin-right: 3px" data-toggle="tooltip" data-original-title="View">
                                <span><i class="fas fa-search" aria-hidden="true"></i> Unlink</span></button></div>`
                    });

                }

                tblListings.rows.add(rows).draw();
            },
            error: function (jqXHR, exception) {
                swal({
                    title: "ERROR STATUS " + jqXHR.status,
                    text: "Error Message: " + jqXHR.responseText,
                    type: "error",
                    showCancelButton: false,
                    confirmButtonText: "OK"
                });
            }
        });
    }
    
   

</script>

