@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor accessor;
@model IEnumerable<CoMute.UI.Models.Opportunity.SearchOpportunityModel>
    <!doctype html>
    <html lang="en">
    <head>
        @*<link rel="stylesheet" href="~/css/Account.css">*@
        <!-- Required meta tags -->
        <!--<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css/iconmoon.css">

    <link rel="stylesheet" href="~/css/owl.carousal.css">-->
        <!-- Bootstrap CSS -->
        <!--<link rel="stylesheet" href="~/css/demoBootstrap.css">-->
        <!-- Style -->
        <!--<link rel="stylesheet" href="~/css/Table.css">-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            * {
                box-sizing: border-box;
            }

            body {
                margin: 0;
                font-family: Arial, Helvetica, sans-serif;
            }

            .topnav {
                overflow: hidden;
                background-color: #e9e9e9;
            }

                .topnav a {
                    float: left;
                    display: block;
                    color: black;
                    text-align: center;
                    padding: 14px 16px;
                    text-decoration: none;
                    font-size: 17px;
                }

                    .topnav a:hover {
                        background-color: #ddd;
                        color: black;
                    }

                    .topnav a.active {
                        background-color: #2196F3;
                        color: white;
                    }

                .topnav .search-container {
                    float: right;
                }

                .topnav input[type=text] {
                    padding: 6px;
                    margin-top: 8px;
                    font-size: 17px;
                    border: none;
                }

                .topnav .search-container button {
                    float: right;
                    padding: 6px 10px;
                    margin-top: 8px;
                    margin-right: 16px;
                    background: #ddd;
                    font-size: 17px;
                    border: none;
                    cursor: pointer;
                }

                    .topnav .search-container button:hover {
                        background: #ccc;
                    }

            @@media screen and (max-width: 600px) {
                .topnav .search-container {
                    float: none;
                }

                    .topnav a, .topnav input[type=text], .topnav .search-container button {
                        float: none;
                        display: block;
                        text-align: left;
                        width: 100%;
                        margin: 0;
                        padding: 14px;
                    }

                .topnav input[type=text] {
                    border: 1px solid #ccc;
                }
            }
        </style>
    </head>
 

    <body>

        @if (TempData["RegisterFailed"] != null)
        {
            <div id="box" class="alert alert-danger" style="text-align: center;color:white;background-color:red">
                <strong>Login Failed</strong>
                <span />
            </div>
        }
        @if (TempData["RegisterSuccess"] != null)
        {
            <div id="box" class="alert alert-success" style="text-align: center;color:white;background-color:green">
                @if (accessor.HttpContext.Session.GetString("UserName") != null && accessor.HttpContext.Session.GetString("UserName") != "")
                {
                    <strong>You have successfully logged in @accessor.HttpContext.Session.GetString("UserName")</strong>
                }
                else
                {
                    <strong>You have successfully logged in.</strong>
                }
                <span />
            </div>
        }
        @if (TempData["ProfileSuccess"] != null)
        {
            <div id="box" class="alert alert-success" style="text-align: center;color:white;background-color:green">
                <strong>@TempData["ProfileSuccess"]</strong>
                <span />
            </div>
        }
        @if (TempData["RegisterOpportunitySuccess"] != null)
        {
            <div id="box" class="alert alert-success" style="text-align: center;color:white;background-color:green">
                <strong>@TempData["RegisterOpportunitySuccess"]</strong>
                <span />
            </div>
        }
        @if (TempData["LeaveSuccess"] != null)
        {
            <div id="box" class="alert alert-success" style="text-align: center;color:white;background-color:green">
                <strong>@TempData["LeaveSuccess"]</strong>
                <span />
            </div>
        }
        @if (TempData["LeaveFailed"] != null)
        {
            <div id="box" class="alert alert-danger" style="text-align: center;color:white;background-color:red">
                <strong>@TempData["LeaveFailed"]</strong>
                <span />
            </div>
        }
        @if (TempData["JoinSuccess"] != null)
        {
            <div id="box" class="alert alert-success" style="text-align: center;color:white;background-color:green">
                <strong>@TempData["JoinSuccess"]</strong>
                <span />
            </div>
        }
        <script>
            setTimeout(() => {
                const box = document.getElementById('box');

                // 👇️ removes element from DOM
                box.style.display = 'none';

                // 👇️ hides element (still takes up space on page)
                // box.style.visibility = 'hidden';
            }, 3000); //
        </script>
        <div class="content">

            <div class="container">
                <h2 class="mb-3">Created/Joined Car -Pool Opportunities for: <strong>@accessor.HttpContext.Session.GetString("Email")</strong></h2>
                <div class="table-responsive custom-table-responsive">
                    <div class="topnav">
                        <div class="search-container">
                            <form asp-action="Index" asp-controller="Home" method="get">
                                <p>
                                    Search by Origin/Destination: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                                    <button type="submit" value="Search" class="btn btn-default">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                        </svg>
                                    </button> |
                                    <a style="float:left" asp-action="Index" asp-controller="Home">Back to Full List</a>
                                </p>
                            </form>
                        </div>
                    </div>
                    <table class="table custom-table">
                        <thead>
                            <tr>
                                <th scope="col">Sign Up</th>
                                <th scope="col">Time Frame</th>
                                <th scope="col">Origin</th>
                                <th scope="col">Destination</th>
                                <th scope="col">Days Available</th>
                                <th scope="col">Available Seats</th>
                                <th scope="col">Created Date</th>
                                <th scope="col">Joined Date</th>
                                <th scope="col">Created By</th>
                                <th scope="col">Lead Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var O in Model)
                            {
                                <tr scope="row">
                                    <th scope="row">
                                        <label class="control ">
                                            <a asp-action="LeaveOpportunity" asp-controller="Opportunity" asp-route-id="@O.OpportunityId" class="btn btn-danger">Leave</a>
                                        </label>
                                    </th>
                                    <td>
                                        Departure: @Convert.ToDateTime(@O.DepartureTime).ToString("dd/MM/yyyy HH:mm")
                                        <small class="d-block">Arrival: @Convert.ToDateTime(@O.ArrivalTime).ToString("dd/MM/yyyy HH:mm")</small>
                                    </td>
                                    <td>@O.Origin</td>
                                    <td>@O.Destination</td>
                                    <td>@O.DaysAvailable</td>
                                    <td>@O.AvailableSeats</td>
                                    <td>@Convert.ToDateTime(@O.CreatedDate).ToString("dd/MM/yyyy HH:mm")</td>
                                    <td>@O.JoinDate</td>
                                    <td>@O.Email</td>
                                    @if (O.IsLeader == "Leader")
                                    {
                                        <td>Lead/Owner</td>
                                    }
                                    else
                                    {
                                        <td>Joined</td>
                                    }
                                </tr>
                                <tr class="spacer"><td colspan="100"></td></tr>
                            }
                        </tbody>
                    </table>
                </div>


            </div>

        </div>



        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>