@model m.s_co_mute.Models.CarPool

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CarPool</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpectedArrivalTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpectedArrivalTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Origin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Origin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DaysAvailable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DaysAvailable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableSeats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailableSeats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
</div>
<div>
    @*If user already joined show option to leave. If times overlap show error message*@
    <a asp-action="" asp-route-id="@Model?.Id">Join Car Pool</a> |
    <a asp-action="Index">Back to List</a>
</div>
