@model IEnumerable<MvCCarPool.Models.CarPoolList>

@{
    ViewBag.Title = "Car Pools";
}

<h2>My Car Pools</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Join Created Car Pools", "Index","CarPoolUserList")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Destination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartureTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Origin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvailableSeats)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Owner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarPoolUser.FName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Destination)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArrivalTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartureTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Origin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AvailableSeats)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarPoolUser.FName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CarPoolId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CarPoolId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CarPoolId })
        </td>
    </tr>
}

</table>
