@model  CoMute.Web.Models.Dto.ProfileViewModel

@{
    ViewBag.Title = "Profile";
}


@using (Html.BeginForm("UpdateProfile", "User", FormMethod.Post, new { id = "UpdateProfileForm" }))
{
    <div class="row">
        <br />
        <br />
        <br />
        <div class="col-md-4 col-md-offset-4">
            <h2 class="text-center">Profile</h2>

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(x=> x.Id)
            <div class="form-group">


                @Html.LabelFor(model => model.Name, htmlAttributes: new { })
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })


            </div>

            <div class="form-group">

                @Html.LabelFor(model => model.Surname, htmlAttributes: new { })
                @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })


            </div>

            <div class="form-group">

                @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { })
                @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control", @type = "email" } })
                @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })

            </div>

            <div class="form-group">

                @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { })
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })

            </div>


            <div class="form-group ">

                <div class="col-md-offset-2 col-md-10">
                    <br />
                    <br />
                    <button class="btn btn-primary btn-block" type="submit" id="sign-in">Update Account</button>
                </div>
            </div>

        </div>
    </div>
}


<div id="error" class="row row-margin hidden">
    <div class="col-md-4 col-md-offset-4 alert alert-danger">
        <p></p>
    </div>
</div>

<script>
        $("#UpdateProfileForm").ajaxForm({

            beforeSend: function () {
            },

            complete: function (response) {
                let res = response.responseText;
                if (res > 0) {
                   
                    swal("Successfull", "Account has been updated", "success")
                        .then(function (data) {
                            location.reload();
                        });
                    
                }
                else {
                    swal("Failed!", "Failed to update account", "error");
                }
            },
            error: function () {
                console.log('error');

            }
        });
    </script>